        @media only screen and (max-width: 600px) {

                .compute_prompt {
                    height: 200px;
                    width: 70%;
                    padding: 20px;
                    border: 2px solid green;
                    border-radius: 15px;
                }

                .compute_prompt button{
                    padding: 5px 10px;
                    font-size: 11px;
                    border-radius: 20px;
                }

                .compute_prompt button:first-child {
                    border: 1px solid black;
                }

                .compute_prompt h2{
                    font-size: 13px;
                }

                .compute_prompt h3{
                    font-size: 11px;
                }

                .button_section {
                    padding: 0 10px;
                }

                .close_prompt {
                    font-size: 25px;
                    line-height: 10px;
                }

                header{
                    height: 60px;
                    padding: 0 10px;
                }

                #header_compute{
                    font-size: 11px;
                    border: 1px rgb(0,40,0) solid;
                }

                header img{
                    height: 50px;
                    margin: 15px;
                }

                .welcome_background{
                    margin-top: 60px;
                }

                .welcome_container{
                    width: 90%;
                    border-radius: 20px;
                    margin: 30px auto;
                }

                .welcome_block h1{
                    font-size: 30px;
                }

                .welcome_block h1:nth-of-type(2), .welcome_block sub{
                    font-size: 35px;
                }

                .welcome_block h2, .paragraph h2{
                    font-size: 15px;
                    padding: 10px;
                }

                .welcome_block img, .paragraph img{
                    max-width: 400px;
                    min-width: 150px;
                }

                .welcome_block button{
                    padding: 5px;
                    border: 1px solid green;
                    border-radius: 20px;
                    font-size: 15px;
                }

                .why_container{
                    margin: 25px 0;
                    padding: 15px;
                }

                .why_block{
                    border: 1.5px solid green;
                    border-radius: 10px;
                    padding: 15px;
                    width: 30%;
                    min-width: 300px;
                    height: auto;
                    margin: 10px auto;
                }

                .why_container > h2{
                    font-size: 18px;
                }

                .why_block > h3{
                    margin: 5px;
                    font-size: 12px;
                    height: 25px;
                }

                .why_block img{
                    width: 50%;
                    height: auto;
                }

                .why_block{
                    font-size: 11px;
                }

                .welcome_container > p{
                    margin: 10px;
                }

                .paragraph > div{
                    padding: 35px;
                }

                .input_background{
                    min-width: 100%;
                    width: 100%;
                    margin-top: 60px;
                }

                .input_container{
                    padding: 15px;
                }

                ._form_section{
                    border: 1px solid rgb(150,150,150);
                    border-radius: 10px;
                    padding: 10px;
                    margin: 3px;
                }

                ._form_section h4{
                    font-size: 12px;
                }

                .form_section {
                    margin-bottom: 5px;
                    margin-left: 25px;
                }

                .form_section label {
                    padding: 2.5px;
                    font-size: 11px;
                }

                .form_section input {
                    width: 40px;
                    height: 15px;
                    padding: 1.5px;
                    border: 1px solid rgb(70,70,70);
                    border-radius: 4px;
                    font-size: 11px;
                }

                .form_section .input-section{
                    width: 100px;
                }

                .unit{
                    font-size: 11px;
                }

                .compute_section{
                    text-align: right;
                    margin: 5px;
                }

                .compute_section button {
                    padding: 7px 10px;
                    font-size: 11px;
                    border-radius: 20px;
                    width: 85px;
                }

                .compute_section label {
                    padding: 7px 10px;
                    font-size: 11px;
                    border-radius: 20px;
                    width: 85px;
                }

                #table th, #table td{
                    font-size: 11px;
                }

                footer {
                    font-size: 8px;
                    height: 35px;
                    line-height: 35px;
                }
            }